<style>
    #map {
        height: 1080px;
    }
</style>

<div id="map">
</div>

<img src="~/Content/Erangel_Minimap.jpg" id="eMap" style="display:none;" />

@section scripts{
    
<script src="~/Content/leaflet.js"></script>
<script src="~/Content/leaflet-heat.js"></script>
<script>

    var divisor = 97.65625;
    var points = [
        {
            "X": 533183.9375,
            "Y": 295908.375
        },
        {
            "X": 306338.53125,
            "Y": 267197.125
        },
        {
            "X": 254729.484375,
            "Y": 323312.375
        },
        {
            "X": 477178.8125,
            "Y": 441408.5625
        },
        {
            "X": 466096.28125,
            "Y": 176065.15625
        },
        {
            "X": 263869.375,
            "Y": 172373.09375
        },
        {
            "X": 604467.4375,
            "Y": 181526.046875
        },
        {
            "X": 429705.5,
            "Y": 189553.421875
        },
        {
            "X": 377384.78125,
            "Y": 266889.625
        },
        {
            "X": 331773.0625,
            "Y": 287420.78125
        },
        {
            "X": 487327.65625,
            "Y": 489057.03125
        },
        {
            "X": 428767.28125,
            "Y": 168270.578125
        },
        {
            "X": 549331.8125,
            "Y": 495599.125
        },
        {
            "X": 180445.734375,
            "Y": 220432.953125
        },
        {
            "X": 429790.28125,
            "Y": 146227.109375
        },
        {
            "X": 423635.875,
            "Y": 126084.4453125
        },
        {
            "X": 378282.8125,
            "Y": 222269.78125
        },
        {
            "X": 237428.9375,
            "Y": 230435.171875
        },
        {
            "X": 100035.1796875,
            "Y": 521142.71875
        },
        {
            "X": 428388.03125,
            "Y": 643980.5
        },
        {
            "X": 199497.53125,
            "Y": 242011.09375
        },
        {
            "X": 230353.8125,
            "Y": 351787.375
        },
        {
            "X": 622809.8125,
            "Y": 438398.5625
        },
        {
            "X": 655852.375,
            "Y": 423935.40625
        },
        {
            "X": 161771.09375,
            "Y": 546847.5
        },
        {
            "X": 358643.78125,
            "Y": 338530.84375
        },
        {
            "X": 268740.75,
            "Y": 549597.8125
        },
        {
            "X": 472668.8125,
            "Y": 160057.984375
        },
        {
            "X": 344847.78125,
            "Y": 220591.984375
        },
        {
            "X": 356375.34375,
            "Y": 393993.90625
        },
        {
            "X": 125755.328125,
            "Y": 344555.8125
        },
        {
            "X": 377321.53125,
            "Y": 343780.9375
        },
        {
            "X": 367874.40625,
            "Y": 487487.9375
        },
        {
            "X": 246655.90625,
            "Y": 559982.625
        },
        {
            "X": 445314.21875,
            "Y": 451449.6875
        },
        {
            "X": 316740.28125,
            "Y": 456437.09375
        },
        {
            "X": 287854.53125,
            "Y": 205555.140625
        },
        {
            "X": 684491.1875,
            "Y": 430820.1875
        },
        {
            "X": 481146.84375,
            "Y": 618574.6875
        },
        {
            "X": 362707.75,
            "Y": 144722.25
        }
    ];

    var map = L.map('map', { crs: L.CRS.Simple, minZoom: -3, maxZoom: 7 });

    var bounds = [[0, 0], [8192, 8192]];
    var image = L.imageOverlay($('#eMap').prop('src'), bounds).addTo(map);
    map.fitBounds(bounds);

    //points.forEach(x => L.marker(L.latLng(x.Y / divisor, x.X / divisor)).addTo(map));
    var LatLngPoints = [];

    points.forEach(x => LatLngPoints.push([x.Y / divisor, x.X / divisor, 0.5]));
    

    var heat = L.heatLayer(LatLngPoints, { radius: 100 }).addTo(map);

</script>
}